* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display:grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows:1fr 4fr;
    height:100vh;
}
.header {
    
    background-color:white;
    grid-column: 2 / span 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 10000;

}
.sidebar {
    background-color:rgb(140, 122, 220);;
    grid-row: 1 / span 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index:1000000;
    border-radius:0px 25px 25px 0px;;

}
.content {
    background-color:lightgray;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap:10px;
    padding:25px;
    padding-top:75px;
}
.item {
    border:1px solid black;
    background-color: white;
    border-radius:25px;
    /*animation:slide-in 3s;*/

    border-left: 5px solid orange;
    border-top:none;
    border-bottom:none;
    border-right:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}
.new-grid {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
    gap:75px;
}

.side-item1 {
    
    border:1px solid black;
    background-color:white;
    border-radius:15px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    

}
#project {
    position: absolute;
    top:24vh;
    left:28vw;
}
#absolute {
    position:absolute;
    top:61vh;
    left:75vw;
}

.side-item2 {
    
    background-color: white;
    border:1px solid black;
    border-radius:15px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}


.sidebar h2 {
    color:white;
    padding:1.5rem;
}
.third {
    grid-column: 2 / span 1;
}
.last1 {
    grid-column: 1 / span 1;
}
.pain {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.last  {
    grid-column: 2 / span 1;
    grid-row:2 / span 1;
}
.sidebar ul li {
    color:white;
    list-style: none;
    padding:1.5em;
    font-weight:700;
}
.sidebar {
    display:grid;
    grid-template-rows: 1fr 9fr;
    gap:10px;
}
.header {
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;

}
.name-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.buttons {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
.flex-wrap {
    display:flex;
}
input {
    width:30vw;
    border-radius: 5px;
    
}
.head-top-right-side {
    display:flex;
}

button {
    padding: 10px 30px;
    border-radius:25px;
    background-color: rgb(146, 186, 231);
    color:white;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.buttons {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.super {
    grid-column: 1 / span 2;
}
.search-section > img {
    width:30px;

}
.new-grid {
    display:grid;
}
.search-section {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap:15px;
    margin-left:20px;
    margin-top:20px;
}
input {
    border:none;
    background-color:rgb(225, 224, 231);
    border-radius:25px;
}
#bell {
    width:30px;
}
#pp {
    height:50px;
    margin-left:20px;
}
.head-top-right-side {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:10px;
}
#hi {
    font-size:20px;
}
#h2 {
    font-size:20px;
}
.flex-wrap {
    display:flex;
    gap:25px;
} 
.super {
    display:flex;
    align-items: center;
    justify-content: center;
    

}
#batman {
  width:25vw;;
  height:200px;
}
.batman-container {
    margin:20px;
    display:flex;
    justify-content: flex-end;
    width:100%;
}

.one {
    
    animation: first 2s;
}
.two {
    
    animation: second 2s;
}
.four {
    animation: fourth 2s;
}
.three,
.five {
    
    animation: last 2s;
}
.side-item1 {
    
    animation: side-from-top 2s;
}
.side-item2 {
    animation: side-from-bottom 2s;
}

@keyframes side-from-bottom {
    0% {
        transform: translateY(115%);
    }
}

@keyframes side-from-top {
    0% {
        transform: translateY(-115%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes last {
    0% {
        transform: translateY(230%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes fourth {
    0% {
        transform:translateY(115%);
    }
    100% {
        transform:translateY(0%)
    }
}

@keyframes second {
    0% {
        transform:translateX(-115%);
    }
    100% {
        transform:translateX(0%);
    }
}


@keyframes first {
    0% {
        transform: translateY(-115%);
    }
    100% {
        transform: translateY(0%);
    }
}






@keyframes slide-in {
    0% {
        transform:translateY(-350%);
    }
    100% {
        transform:translateY(0%);
    }
}

@keyframes slide-on {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform:translateX(0%);
    }
}